<a href="https://colab.research.google.com/github/Afungchwi/WTMGDG-Bambili-100-Days-of-Code-Data-Science/blob/main/Day_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
O = [1,2,3,4,5,6,7,8,9,10]
for o in O:
  print(o)

1
2
3
4
5
6
7
8
9
10

In [6]:
#iterables being able to iterate iterables we have list dictionary strings tuples uniterables integers float and build in fxns
#iterators are the values of the iterable
#ex O is iterable since its a list and the values in it are the iterators
itr = iter(O)
print (itr)
print(next(itr))
print(next(itr))
print(next(itr))

<list_iterator object at 0x7f5988fb4110>
1
2
3

In [15]:
#using the built in list fxn n iter to get a list of iterators tuple n set
itr = iter(O)
# for list
print('list : ',list(itr))
#for set
print( 'Set : ' ,set(iter(O)))
#for tuple
print('tuple : ',tuple(iter(O)))

list :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Set :  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
tuple :  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [24]:
#accessing the dict keys and values
t = dict(one= '1',two='2',three ='3')
print(t)
#print the dict key
for key in t:
  print(key)
#print the dict value
for key in t:
  print(t[key]) 

#alternative of print value
print(t.values())

{'one': '1', 'two': '2', 'three': '3'}
one
two
three
1
2
3
dict_values(['1', '2', '3'])

In [30]:
#getting the key and value of a dict
b =[(1, 2), (3, 4), (5, 6)]
for i, j in b:
  print(i,j)

#using the idea
d = dict(one= '1',two='2',three ='3', four = '4', five='5')
print(d.items())
for k, v in d.items():
  print('K = ', k, '  V = ', v)

1 2
3 4
5 6
dict_items([('one', '1'), ('two', '2'), ('three', '3'), ('four', '4'), ('five', '5')])
K =  one   V =  1
K =  two   V =  2
K =  three   V =  3
K =  four   V =  4
K =  five   V =  5

In [36]:
#range function
print(range(0,5))
r = range(0, 11)
for v in r:
  print(v)
w = range(-10, 10, 2) 
for t in w:
  print(t)

range(0, 5)
0
1
2
3
4
5
6
7
8
9
10
-10
-8
-6
-4
-2
0
2
4
6
8

In [56]:
#break continue n else in for
#break

for i in ['foo', 'bar', 'baz', 'qux']:
  if 'b' in i:
    break
  print(i)
for i in ['foo', 'bar', 'baz', 'qux']:
  if 'b' in i:
    continue
  print(i)

foo
foo
qux

In [54]:
for i in ['foo', 'bar', 'baz', 'qux']:
  if i == 'bar':
    break
  print(i)
else:
    print('Done')

foo