<a href="https://colab.research.google.com/github/Afungchwi/WTMGDG-Bambili-100-Days-of-Code-Data-Science/blob/main/Day_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Input

In [5]:
#input with strings
s = input()
print(s)
name = input('What is your name? ')
print(name)
#input with number
number = int(input('enter a number : '))
print('number: ', number)

tre
tre
What is your name? livian
livian
enter a number : 13
number:  13

Output

In [7]:
fname = 'Olivian'
lname = 'Afungchwi'
print('Name:', fname, lname)

Name: Olivian Afungchwi

In [10]:
a = [1, 2, 3]
print(type(a))

b = -12
print(type(b))

d = {'foo': 1, 'bar': 2}
print(type(d))

print(type(len))

print(a, b, d, len)

<class 'list'>
<class 'int'>
<class 'dict'>
<class 'builtin_function_or_method'>
[1, 2, 3] -12 {'foo': 1, 'bar': 2} <built-in function len>

In [13]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k, v in d.items():
  print(k, v, sep=' -> ')

foo -> 1
bar -> 2
baz -> 3

String Modulo

In [15]:
print('%d %s cost $%.2f' % (6, 'bananas', 1.74))
print('Hello, my name is %s.' % 'Olivian')

6 bananas cost $1.74
Hello, my name is Olivian.

Integer conversion type

In [23]:
#for integers
print('int', '%d, %i, %u' % (42, 42, 42))
#for hexadecimal
print('hexa', '%x, %X' % (10, 10))
#for octal
print('oct', '%o' % (10))
#float
print('float', '%f, %F' % (3.19, 3.14))
#%g n %G choose bwn float n exponent
print('float', '%g' % 3.14)
print('expo', '%g' % 0.00000003)

int 42, 42, 42
hexa a, A
oct 12
float 3.190000, 3.140000
float 3.14
expo 3e-08

Character conversion

In [25]:
print('xter', '%c' % 97)

xter a

precision

In [28]:
print('%.2f' % 123.456789)
print('%.2e' % 123.456789)

123.46
1.23e+02

In [30]:
for i in range(3):
  w = int(input('Enter width: '))
  print('[%*s]' % (w, 'foo'))

Enter width: 4
[ foo]
Enter width: 6
[   foo]
Enter width: 8
[     foo]

In [ ]:
#flag
#including base info 
# '#' flag
print('oct', '%#o' % 16)
print('hex', '%#x' % 16, '%#X' % 16)

# '0' flag adding a padding of 0 to the number
print('0 flag', '%05d' % 123)

# '-' flag The - flag causes the value to be left-justified 
print('- flag', '%-8.2f' % 123.3)

# '+' flag the + flag adds a '+' character to the left of numeric output
print('+ flag',  '%+d' % 3)
print('+ flag', '%+5d' % 3)

# ' ' flag The ' ' (space character) flag causes positive numeric values to be preceded by a space character
print(' ' ,  '% d' % 3)

In [34]:
d = {'quantity': 6, 'item': 'bananas', 'price': 1.74}
print('%(quantity)d %(item)s cost $%(price).2f' % d)

6 bananas cost $1.74