<a href="https://colab.research.google.com/github/Afungchwi/WTMGDG-Bambili-100-Days-of-Code-Data-Science/blob/main/Day_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1 = ["Hello", "World", "I", "Am","Olivian", 12.3, 3.5, 4.9, 2.5, 20.7, 40, 23, 12, 16]

In [ ]:
var1 = "Hello " + "World"
var_list = list1.append(var1) 
#add a variable to a list we use the .append or .insert. the .append add the variable
#at the end of the list while the .insert add the variable at the start of the list
#adding two list we use the '+' sign

print(var_list)

In [ ]:
list4 = ["Welcome to", "100", "days", "of Data Science", 4, 8, 9, 10, 34, 6.3, 87.9, 3.2, 34.9, 4.2, 67.9 ]

In [ ]:
list5 = list1 + list4
print(list5)

['Hello', 'World', 'I', 'Am', 'Olivian', 12.3, 3.5, 4.9, 2.5, 20.7, 40, 23, 12, 16, 'Welcome to', '100', 'days', 'of Data Science', 4, 8, 9, 10, 34, 6.3, 87.9, 3.2, 34.9, 4.2, 67.9]

In [1]:
list2 = [5, 6, 7.0, "Eight", "Nine"]
list3 = []
for t in list2:
  list3 = type(t)
  print (list3)

<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>