<a href="https://colab.research.google.com/github/Afungchwi/WTMGDG-Bambili-100-Days-of-Code-Data-Science/blob/main/Day_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
set1 = set(("bag","shoe","pen"))
print(set1)
set2 = set((1,2,4,5,2,6,7,8,7,6,5,3,2,1,))
print(set2)

{'shoe', 'pen', 'bag'}
{1, 2, 3, 4, 5, 6, 7, 8}

In [8]:
set3 = 'schoolbus'
list(set3)
set(set3)
print(list(set3))
print(set(set3))

['s', 'c', 'h', 'o', 'o', 'l', 'b', 'u', 's']
{'h', 'o', 'l', 'u', 'c', 'b', 's'}

union of sets

union as an operator

In [12]:
#we use | for the union sign
s1 = set((1,2,3,5))
s2 = set((5,6,8,7,9,"book"))
s12 = s1|s2
print (s12)

{1, 2, 3, 5, 6, 7, 8, 9, 'book'}

union as a method

In [14]:
print(s1.union(s2))

{1, 2, 3, 5, 6, 7, 8, 9, 'book'}

union of more than one set

In [26]:
set4 = set(("fan","cap","pencil"))
#with the operator 
set5=set1 | set2 |set4 | s1 | s2
print(set5)
#with the method
set6 = set1.union(set2,set4,s1,s2)
print(set6)

{1, 2, 'pen', 3, 4, 5, 6, 7, 8, 9, 'book', 'fan', 'pencil', 'shoe', 'cap', 'bag'}
{1, 2, 'pen', 3, 4, 5, 6, 7, 8, 9, 'book', 'fan', 'pencil', 'shoe', 'cap', 'bag'}

Intersection of sets with the operator and method

with the operator

In [29]:
#we use the & for intersection
s3 = set1 & set2
print(s3)
#since there is nothing same in both set it gives an empty set
print(set2 & s2)

set()
{8, 5, 6, 7}

with the method

In [32]:
print(set1.intersection(set2))
print(set1.intersection(s2, set4, s1))

set()
set()

difference

In [34]:
a = {1, 2, 3, 30, 300}
b = {10, 20, 30, 40}
c = {100, 200, 300, 400}

print(a.difference(b, c))

{1, 2, 3}

In [36]:
print(s1.symmetric_difference(s2))

{1, 2, 3, 6, 7, 8, 9, 'book'}

In [42]:
#disjoint
#checks if two sets have common element if the do it reteurns true
#if they don't it returns false
print(set1.isdisjoint(set2))
print(s1.isdisjoint(set2))

True
False

In [43]:
#subset
#checks if all the elements of one set are found in the other set if so true else false
print(set1.issubset(set2))
print(s1.issubset(set2))

False
True

In [45]:
#proper set
#if every element of a set say Q is in another set W, and Q and W are not equal.then its a proper set
print(s1<set2)

True

In [60]:
#update to add a value to the set
#the update will apply for all the operations on set
s1 = set((1,2,3,5))
print(s1.update("pot","cot"))
print(set1.intersection_update(["pot"]))
print(s1)

None
None
{1, 2, 3, 5, 'o', 't', 'p', 'c'}

In [61]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}

print( x1.symmetric_difference_update(['qux', 'corge']))
print(x1)

None
{'qux', 'bar', 'foo', 'corge', 'baz'}

In [63]:
#add an element to a set
print(x1.add("mine"))
print(x1)

None
{'qux', 'bar', 'mine', 'foo', 'corge', 'baz'}

In [67]:
#remove an element in a set
#if the element is not it raises an exception
print(x1.remove("bar"))
print(x1)

None
{'qux', 'mine', 'corge', 'baz'}

In [69]:
#discard 
#removes an elemnt but if the elemnt is not no exception is raised
print(x1.discard("foop"))
print(x1)

None
{'qux', 'mine', 'corge', 'baz'}

In [74]:
#pop removes any element in a set
#clears removes all the element in a set
y = {'farm','car','pot','can','person'}
print(y.pop())
print(y)
print(y.clear())
print(y)

person
{'can', 'farm', 'pot', 'car'}
None
set()

In [79]:
#frosenset can't be modify
x = frozenset([1, 3, 'baz'])
print(x)

frozenset({1, 3, 'baz'})